# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# Long random string used to sign and encrypt session cookies. Replace this in production.
AUTH_SECRET=""

# Stripe API keys
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

# Resend keys
RESEND_API_KEY=""
EMAIL_FROM=""

APP_URL="http://localhost:3000"
